@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme{
  --color-hemi: #e4eef2;
  --color-hemi-pink: #f2e9e4;
  --color-hemi-brown: #332a28;
}

@theme {
  --font-lora: "DM Serif Display", serif; 
  --font-inter: "Inter", sans-serif;
}

@theme {
    --animate-fade-in-scale: fade-in-scale 2s ease-out;
    --animate-fade-in-scale-delayed: fade-in-scale-delayed 2.5s ease-out;
    
    @keyframes fade-in-scale {
      0% {
        opacity: 0;
        transform: scale(0.95);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes fade-in-scale-delayed {
      0%, 40% {
        opacity: 0;
        transform: scale(0.95);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
}

/*#e4eef2*/